/* Aside Nav */

aside {
    width: 250px;
    position: sticky;
    top: 0;
    height: max-content;
    padding: 20px;
    line-height: 30px;
    margin-top: 60px;

  }
  
  aside ul {
    list-style-type: none;
    padding: 0;
  }
  
  aside ul li {
    margin: 10px 0;
  }
  
  aside ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  aside ul li a:hover {
    color: #007bff;
  }
/* Aside nav Done */
  

.root{
    height: max-content;
    display: flex;
    flex-direction: column;
    
}

.editor{
    width: 100%;
    padding-top: 20px;
}


.editor iframe{
    border: 2px solid #c5c5c5cd;
    border-radius: 4px;
    box-shadow: 0px , 0px, 9px #737070;
    width: 100%;
}

.root .divider{
    display: flex;
    flex-direction: row;
    overflow: hidden;

}

.aside{
    position: relative;
    top: 0;
    height: 100%;
}

.divider .main{
    margin-left:10px;
    margin-top: 90px;
    height: max-content;
    line-height: 22px;
    margin-bottom: 30px;
    padding-left: 60px;
    border-left: 3px solid #73707073;
}

.h2{
    padding: 13px 0px;
}

.courses-btn{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    padding-bottom: 30px;
}
